body {
    background-color: lightgrey;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
}

p {
    text-align: center;
    font-size: 2em;
    position: relative;
}

strong {
    font-size: larger;
    color: red;
}

div {
    background-color: lightgoldenrodyellow;
    width: 60%;
    height: 10cm;
    text-align: center;
    border: solid;
    padding: 12%;
    border-image-source:url(Képek\\Cartoon.jfif);
    border-image-slice: 30%;
    border-image-width: 125px;
    box-shadow:20px 20px 25px black;
}